@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
	background-image:
	url("../images/betterchakra.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: left;
	font-family: 'Oxygen';
	color: #ffffff;
	font-size: 22px
}
	
		
ul{
	list-style-type: none;
	font-family: 'Montserrat';

}

h1{
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 2px;
}

p{
	font-family: 'Montserrat';
	text-align: ;
	line-height: 1.5em;
	margin: 2em;
}
address { 
	text-align: right; 
	font-style: normal;
}
.slogan {
	text-align: center;
	}
