styles.css


body{
		background-image:
			 url("/images/chakra.jpg");

		color: #03FF1F;

		font-size: 22px;
	}
		
		ul{
			list-style-type: none;
	
		}

		}
		
		h1{
			font-size: 40px;
			text-align: center;
			font-weight: bold;
			font-family: 'Helvetica';
			letter-spacing: 2px;
		}
		
		p{
			text-align: left;
			line-height: 1.5em;
			margin: 2em;
		}

		}

		address{ 
			text-align: right; 
		}

	